<footer>
  <div class="container">
    <img class="img-fluid" width="11%" src="{{ site.baseurl }}/assets/img/doe_seal.png"/>
    <img class="img-fluid" width="28%" src="{{ site.baseurl }}/assets/img/argonne_logo.png"/>
    <img class="img-fluid" width="28%" src="{{ site.baseurl }}/assets/img/jlab_logo.png"/>
    <img class="img-fluid" width="28%" src="{{ site.baseurl }}/assets/img/vt_logo.png"/>
  </div>
  <div class="container">
    <div
      class="fs-7 text-center text-light bg-dark p-3"
    >
      Copyright &copy; 2025, All Right Reserved
      <a
        href="{{ site.baseurl }}"
        class="link-light"
      >
        QuantOm Collaboration
      </a>
    </div>
  </div>
</footer>
