<header>
  <!-- control the width -->
  <div class="container">

    <nav class="navbar navbar-expand-md bg-white mt-3 p-0">
    <div class="row bg-white m-0 p-1">

      <!-- logo -->
      <a
        class="
          navbar-brand col-5 col-sm-5 col-md-4 col-lg-3 col-xl-2 flex-shrink-1
          g-2 p-0 me-auto
        "
        href="{{ site.url }}"
      >
        <img class="img-fluid" src="{{ site.url }}/assets/img/quantom_logo.png"/>
      </a>

      <button
        type="button" class="navbar-toggler btn-white col-2 p-1"
        data-bs-toggle="collapse" data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <button type="button" class="btn btn-white text-end col-2 p-1"
        data-bs-toggle="modal" data-bs-target="#search-modal"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"
        >
          <path
            d="
                M11.742 10.344a6.5 6.5 0 1 0-1.397
                1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0
                1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12
                6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0
            "
          />
        </svg>
      </button>
    </div>
    </nav>

    <nav id="header" class="navbar navbar-expand-md mt-0 pt-0 pe-0 pt-md-3 pe-md-3">
      <!-- navigation links -->
      <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav align-items-center gap-3">
          {% include navigation.html %}
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- Modal Search -->
<div
  class="modal fade" id="search-modal" tabindex="-1"
  aria-label="Search Box" aria-details="Search Dialog" aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            type="text" class="form-control" id="search-input"
            placeholder="Search" aria-label="Search"
          >
        </div>
        <ul id="results-container"></ul>
      </div>
    </div>
  </div>
</div>
