<section id="highlights" aria-labelledby="highlights-heading">

  <div id="highlights-heading" class="heading"> Highlights </div>

  <hr class="divider">

  <!-- card grid layout -->
  <div class="highlights">

    {% assign collections = site.highlights | sort: "date" | reverse %}
    {% for highlight in collections limit:3 %}

    <!-- layout in one column: only one card -->
    <div class="col">

      <!-- layout within one card -->
      <div class="block">

        <!-- the image associated with the highlight -->
        <a href="{{ highlight.url }}">
          <img class="headimg" alt="Image" src="{{ site.url }}/{{ highlight.image }}" >
        </a>

        <!-- the main body of this highlight card -->
        <div class="body">

        <!-- title -->
        <div class="heading">
          <a href="{{ highlight.url }}">{{ highlight.title }}</a>
        </div>

        <!-- date in the header -->
        <div class="date">{{ highlight.date | date: "%B %d, %Y" }}</div>

        <!-- excerpt -->
        <div class="content">
          {{ highlight.summary }}
        </div>

      </div>
      </div>
    </div>
    {% endfor %}

  </div>

</section>
