<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Our Mission</h1>
            </div>
            <div class="mission-content">
                <p><b>QuantOm's mission</b> is to develop the next-generation
                QCD analysis framework to reconstruct hadronic structure from
                event-level experimental data. We integrate state-of-the-art
                theoretical frameworks based on QCD factorization theorems,
                sophisticated experimental simulations, and a scalable
                computational architecture that leverages AI/ML techniques.</p>
            </div>
        </div>
    </div>
</section>
