<section id="mission" aria-labelledby="mission-heading">
  <div class="container">

    <h2 id="mission-heading" class="w-100 text-center px-3 mt-4 mb-2">
      Our Mission
    </h2>

    <hr class="border border-dark border-1">

    <p class="w-100 text-start text-wrap px-3 mt-2 mb-3">
      <b>QuantOm's mission</b> is to develop the next-generation QCD analysis
      framework to reconstruct hadronic structure from event-level experimental
      data.
      We integrate state-of-the-art theoretical frameworks based on QCD
      factorization theorems, sophisticated experimental simulations, and a
      scalable computational architecture that leverages AI/ML techniques.
    </p>

  </div>
</section>
