{% for link in site.data.navigation %}
  {% assign active = nil %}
  {% for sublink in link.submenu %}
    {% if page.url contains sublink.url %}
      {% assign active = 'active' %}
    {% endif %}
  {% endfor %}

  {% if page.url contains link.url %}
    {% assign active = 'active' %}
  {% endif %}

  {% if link.submenu %}
  <li class="nav-item dropdown p-0 m-0">
    <a
        class="nav-link dropdown-toggle p-0 m-0"
        href="{{ site.baseurl }}{{ link.url}}"
        role="button" data-bs-toggle="dropdown"
        aria-expanded="false"
    >
      <h5 class="m-0 p-0">{{ link.text }}</h5>
    </a>
    <ul class="dropdown-menu p-0 m-0">
      {% for sublink in link.submenu %}
      <li>
        <a
          class="dropdown-item p-0 m-0"
          href="{{{ site.baseurl }}{ sublink.url}}"
        >
          {{ sublink.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="nav-item p-0 m-0">
    <a class="nav-link p-0 m-0" href="{{ site.baseurl }}{{ link.url }}">
      <h5 class="m-0 p-0">{{ link.text }}</h5>
    </a>
  </li>
  {% endif %}
{% endfor %}
