{% for link in site.data.navigation %}
  {% assign active = nil %}
  {% for sublink in link.submenu %}
    {% if page.url contains sublink.url %}
      {% assign active = 'active' %}
    {% endif %}
  {% endfor %}

  {% if page.url contains link.url %}
    {% assign active = 'active' %}
  {% endif %}

  {% if link.submenu %}
  <li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        href="{{ site.baseurl }}{{ link.url}}"
        role="button" data-bs-toggle="dropdown"
        aria-expanded="false"
    >
      {{ link.text }}
    </a>
    <ul class="dropdown-menu">
      {% for sublink in link.submenu %}
      <li>
        <a
          class="dropdown-item"
          href="{{{ site.baseurl }}{ sublink.url}}"
        >
          {{ sublink.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">
      {{ link.text }}
    </a>
  </li>
  {% endif %}
{% endfor %}
