<section
    class="slider-area"
    style="
        max-width: 1500px;
        background-position: center;
        margin: auto;
    "
>
    <div class="slider-active">
        <div
            class="single-slider slider-bg d-flex align-items-center"
            style="
                background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 500px;
            "
        >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1
                                data-animation="fadeInDown"
                                data-delay=".2s"
                            >
                                <span>QuantOm</span>:
                                <br>
                                <u>QUA</u>ntum chromodynamics <u>N</u>uclear
                                <u>TOM</u>ography
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
