<div class="container my-2">
  <div
    class="card"
    style="
      --bs-card-border-width: 0;
      --bs-card-border-radius: 0;
      --bs-card-inner-border-radius: 0;
      border-radius: 0;
    "
  >

    <img
      class="card-img"
      src="{{ site.baseurl }}/assets/img/banner_qcd_1.jpg"
      alt="{{ page.title }}-image"
    >

    <div
      class="
        card-img-overlay bg-dark bg-opacity-50 
        d-flex flex-column
        align-items-center align-content-center justify-content-center
        px-4
      "
    >
      <div class="landing-banner-title">
          <u>QUA</u>ntum chromodynamics
          <u>N</u>uclear
          <u>TOM</u>ography
      </div>

      <div class="landing-banner-text">
        We image the 3D quark-gluon structure of nuclei, unraveling the
        mysteries at the heart of matter.
      </div>

    </div>
  </div>
</div>
