<section
    class="slider-area"
    style="
        max-width: 1500px;
        background-position: center;
        margin: auto;
    "
>
    <div class="slider-active">
        <div
            class="landing-slide single-slider slider-bg d-flex align-items-center"
            style="
                background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg);
            "
        >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1
                                data-animation="fadeInDown"
                                data-delay=".2s"
                            >
                                <span>QuantOm</span>
                            </h1>
                            <h2
                                data-animation="fadeInDown"
                                data-delay=".2s"
                            >
                                <u>QUA</u>ntum chromodynamics
                                <u>N</u>uclear
                                <u>TOM</u>ography
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- styles on the fly -->
<style>
.landing-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .landing-slide {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .landing-slide {
        height: 250px;
    }
}
</style>
