.breadcrumb a:hover {
  text-decoration: underline;
  color:           #fac4fa;
}

div.my-3 {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(222, 255, 222, 108), rgba(255, 255, 255, 0));
}
