.breadcrumb a:hover {
  text-decoration: underline;
  color:           #c4dbfa;
}

div.my-3 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(238, 246, 255, 17), rgba(255, 255, 255, 0));
}
